include Makefile CHANGES LICENSE MANIFEST MANIFEST.in
recursive-include docs *.py *.rst
include docs/Makefile docs/make.bat
graft docs/_static
graft docs/_templates
include examples/*.py
recursive-include tests *test*.py
